# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.test-project.iml
# Datasource local storage ignored files
/../../../../../../../../:\Workspace\IntelliJ\intellij-plugin.inno-setup\test-project\.idea\.idea.test-project.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
